<div class="container-fluid">
  <div class="row">
      <h3 class="text-center">Contact Form</h3>
      
      <div class="col-md-4 col-md-offset-4"> <!-- This line shows how many collums from the middle this form will use up -->
        <div class="well">
        <%= form_for @contact do |f| %> <!-- Rails way to make a form @contact is connected to contacts controller and contact.rb -->
          <div class="form-group">
            <%=f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%=f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%=f.label :comments %>
            <%= f.text_area :comments, class: 'form-control' %>
          </div>
        
        <%= f.submit 'Submit', class: 'btn btn-default' %>
        <% end %>                   <!-- Rails way to make a form -->
        </div>
      </div>
    </div>
</div>